Welcome to fish, the friendly interactive shell
Type helpB for instructions on how to use fish
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> ls
init.lua    scratch.lua
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git add .
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git commit -m "totally updated. window management largely handled. does maximize, left half, right half, left 75, right 25. works on multiple display set ups."
[master 3d07bfb] totally updated. window management largely handled. does maximize, left half, right half, left 75, right 25. works on multiple display set ups.
 2 files changed, 207 insertions(+), 2 deletions(-)
 create mode 160000 .hammerspoon
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> v
fish: Unknown command 'v'
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git remote add origin https://github.com/nonissue/hammerspoon.git
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git push -u origin master
fatal: 'origin' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git
usage: git [--version] [--help] [-C <path>] [-c name=value]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]
           [-p|--paginate|--no-pager] [--no-replace-objects] [--bare]
           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]
           <command> [<args>]

The most commonly used git commands are:
   add        Add file contents to the index
   bisect     Find by binary search the change that introduced a bug
   branch     List, create, or delete branches
   checkout   Checkout a branch or paths to the working tree
   clone      Clone a repository into a new directory
   commit     Record changes to the repository
   diff       Show changes between commits, commit and working tree, etc
   fetch      Download objects and refs from another repository
   grep       Print lines matching a pattern
   init       Create an empty Git repository or reinitialize an existing one
   log        Show commit logs
   merge      Join two or more development histories together
   mv         Move or rename a file, a directory, or a symlink
   pull       Fetch from and integrate with another repository or a local branch
   push       Update remote refs along with associated objects
   rebase     Forward-port local commits to the updated upstream head
   reset      Reset current HEAD to the specified state
   rm         Remove files from the working tree and from the index
   show       Show various types of objects
   status     Show the working tree status
   tag        Create, list, delete or verify a tag object signed with GPG

'git help -a' and 'git help -g' lists available subcommands and some
concept guides. See 'git help <command>' or 'git help <concept>'
to read about a specific subcommand or concept.
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git remote add origin https://github.com/nonissue/hammerspoon.git
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git status
On branch master
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)
  (commit or discard the untracked or modified content in submodules)

        modified:   .hammerspoon (modified content)

no changes added to commit (use "git add" and/or "git commit -a")
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git add .
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git commit -m "uploading to github"
[master 448e426] uploading to github
 2 files changed, 13 insertions(+), 218 deletions(-)
 delete mode 160000 .hammerspoon
 rewrite init.lua (97%)
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git push -u origin master
fatal: 'origin' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git remote
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> ls
init.lua    scratch.lua
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git
usage: git [--version] [--help] [-C <path>] [-c name=value]
           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]
           [-p|--paginate|--no-pager] [--no-replace-objects] [--bare]
           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]
           <command> [<args>]

The most commonly used git commands are:
   add        Add file contents to the index
   bisect     Find by binary search the change that introduced a bug
   branch     List, create, or delete branches
   checkout   Checkout a branch or paths to the working tree
   clone      Clone a repository into a new directory
   commit     Record changes to the repository
   diff       Show changes between commits, commit and working tree, etc
   fetch      Download objects and refs from another repository
   grep       Print lines matching a pattern
   init       Create an empty Git repository or reinitialize an existing one
   log        Show commit logs
   merge      Join two or more development histories together
   mv         Move or rename a file, a directory, or a symlink
   pull       Fetch from and integrate with another repository or a local branch
   push       Update remote refs along with associated objects
   rebase     Forward-port local commits to the updated upstream head
   reset      Reset current HEAD to the specified state
   rm         Remove files from the working tree and from the index
   show       Show various types of objects
   status     Show the working tree status
   tag        Create, list, delete or verify a tag object signed with GPG

'git help -a' and 'git help -g' lists available subcommands and some
concept guides. See 'git help <command>' or 'git help <concept>'
to read about a specific subcommand or concept.
andrewwilliams@Mac-Pro ~/D/S/.hammerspoon> git status
On branch master
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

        modified:   init.lua

Untracked files:
  (use "git add <file>..." to include in what will be committed)

        .hammerspoon/
































































.DS_Store





























































-UUU:----F1  .gitignore     All L1     (Fundamental yas Helm Projectile[.hammerspoon] FlyC-) ------------------------------------------------------------------------------------------------------------------------------------------------
Kill ring is empty
